PORT=8000

DB_HOST=tu_host_de_supabase_aqui
DB_USER=postgres
DB_PASSWORD=tu_contraseña_aqui
DB_NAME=postgres
DB_PORT=6543
DB_SSL=true
DATABASE_URL=tu_url_de_conexion_aqui

EMAIL_HOST=://gmail.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=tu_correo@utm.edu.ec
EMAIL_PASSWORD=tu_nueva_clave_de_app_aqui

CORS_ORIGIN=https://vercel.app

JWT_SECRET=tu_nuevo_jwt_secret_aqui
ADMIN_ACCESS_CODE=tu_nuevo_codigo_aqui
